<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.tavern.mapper.TavernAuditResultMapper" >

    <select id="getLastUpdate" resultType="java.lang.String">
        select date_format(max(create_time),'%Y-%m-%d %H:%i:%s') from tavern_audit_result
        where month = #{query.month}
        and op_time = (select max(op_time) from tavern_audit_result where month = #{query.month})
    </select>
</mapper>